* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: rgb(174, 211, 199);
}

header h1 {
    margin: 20px auto;
    font-size: 40px;
}

.nameInput {
    margin-bottom: 20px;
}

label {
    font-size: 30px;
    margin-bottom: 25px;
}

input {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    outline: none;
    border-radius: 10px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 7px 15px;
    border-radius: 10px;
    border: 2px solid burlywood;
    font-weight: bold;
    outline: none;
}

button:hover {
    background-color: bisque;
}

button:active {
   background-color: aqua; 
}

.message {
    margin-top: 1.5rem;
    font-size: 22px;
}

.messageRed {
    color: red;
    font-size: 18px;
}

footer {
    margin-top:100px;
}
